<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A Tasteful Event</title>
    @Styles.Render("~/Content/CSS")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    @Html.Partial("~/Views/Accessories/_Slideshow.cshtml")
    <div class="navbar">
        <div class="container">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="menuIndex">@Html.ActionLink("Home", "Index", "Home")</li>
                    <li class="menuGallery">@Html.ActionLink("Gallery", "Gallery", "Home")</li>
                    <li class="menuContact">@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/accessories")
    @RenderSection("scripts", required: false)
</body>
</html>
