@model  ChefSite.Models.ContactViewModel

@using (Html.BeginForm("SendContact", "Home", FormMethod.Post, new { @class = "cateringContactForm", role = "form" }))
{
    <div class="jumbotron contactPage">
        <center><h1>Contact us!</h1></center>
        <table>
            <tr>
                <td class="label">
                    @Html.LabelFor(m => m.FullName)
                </td>
                <td class="field">
                    @Html.TextBoxFor(m => m.FullName, new { @type = "text" })
                </td>
            </tr>
            <tr>
                <td class="label">
                    @Html.LabelFor(m => m.PhoneNumber)
                </td>
                <td class="field">
                    @Html.TextBoxFor(m => m.PhoneNumber, new { @type = "phone" })
                </td>
            </tr>
            <tr>
                <td class="label">
                    @Html.LabelFor(m => m.EmailAddress)
                </td>
                <td class="field">
                    @Html.TextBoxFor(m => m.EmailAddress, new { @type = "email" })
                </td>
            </tr>
            <tr>
                <td class="label">
                    @Html.LabelFor(m => m.PhoneNumber)
                </td>
                <td class="field">
                    @Html.TextBoxFor(m => m.PhoneNumber, new { @type = "text" })
                </td>
            </tr>
            <tr>
                <td class="label">
                    @Html.LabelFor(m => m.EventDate)
                </td>
                <td class="field">
                    @Html.TextBoxFor(m => m.EventDate, new { @type = "datetime" })
                </td>
            </tr>
            <tr>
                <td class="label">
                    @Html.LabelFor(m => m.Comments)
                </td>
                <td class="field">
                    @Html.TextAreaFor(m => m.Comments, new { @type = "text" })
                </td>
            </tr>
        </table>
        @*Html.ValidationSummary()*@
    </div>
}